header {
  width: 100vw;
  box-sizing: border-box;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #fff;
}

header nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 1.5rem 1rem;
  box-sizing: border-box;
  overflow: hidden;
}

nav img {
  height: 40px;
  width: 40px;
}

nav ul {
  color: #000;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 60%;
  justify-content: space-around;
  font-family: GraphikMedium;
  opacity: 0.8;
  display: none;
}

ul li a {
  text-decoration: none;
  color: #000;
  transition: 0.2s all ease-in-out;
}

li a:hover {
  color: var(--dark-violet);
}

nav .menu {
  cursor: pointer;
  outline: none;
}

@media (min-width: 925px) {
  nav ul {
    display: flex;
  }
  nav .menu {
    display: none;
  }

  header nav {
    padding: 1.5rem 2rem;
  }
  header .nav-open {
    display: none;
  }
}
